aside {
  @include rounded;
  background-color: $dark-blue;
  margin: 1em .5em;

  .profile {
    @include rounded;
    position: relative;
    background-color: $blue;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;

    img {
      width: 60px;
      margin: auto auto;
      border: solid white 3px;
      border-radius: 100%;
    }
  }

  .name-card {
    font-weight: 300;
    margin: auto 0;

    p {
      margin: .25em;
    }

    :first-child{
      color: $pale-blue;
    }

    :nth-child(2){
      font-size: 1.5em;
    }
  }

  nav {
    display: grid;
    padding: .5em;
    grid-template-columns: 1fr 1fr 1fr;

    p {
      text-align: center;
      color: $desaturated-blue;
    }

    p.selected {
      color: white;
    }
  }
}
