body {
  background-color: $very-dark-blue;
  color: white;
  font-family: $text-stack;
  font-weight: 18px;
  display: block;

  @media (min-width: 900px){
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
